


.content {
    display: flex; 
    background: var(--color-grey-light-2);

    @media (max-width: $bp-medium){
        flex-direction: column;
    }

    .sidebar {
        flex: 0 0 18%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: var(--color-primary);
    }

    .main-view {
        flex: 1;
    }

    .main-view{

        &__primary,
        &__secondary{
            display: flex;
    
            @media(max-width: $bp-large) {
                padding: 1rem;
            }
    
            @media(max-width: $bp-small){
                flex-direction: column;
            }
        }

        &__primary{
            border-bottom: 1px solid var(--color-grey-light-4);
            padding-bottom: 1rem;
        }
        &__secondary{
            padding-top: 1rem;
        }
    }
    
}