
	.body {
		font-family: 'Ubuntu', sans-serif;
		margin: 0;
		padding: 0;
	}
	
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		transform: translate(0%, 20%);
	}
	
	
	
	.form {
		box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
		border: 2px solid #f1f1f1;
		display: flex;
		flex-direction: column;
		padding: 2rem 5rem;
	}
	
	input[type=text],
	input[type=password] {
		background: #FFFFFF;
		border: 0.5px solid #C9472C;
		box-sizing: border-box;
		box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		width: 264px;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		box-sizing: border-box;
	}
	
	button {
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
	}
	
	button:hover {
		opacity: 0.8;
	}
	
	
	
	
	.choose select {
		padding: .7rem;
		background: rgba(35, 30, 30, 0.5);
		border-radius: 6px;
		width: 264px;
		font-family: 'Ubuntu', sans-serif;
	}
	
	.first {
	
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: #7A7A7A;
	}
	
	a {
		color: #C9472C;
		font-family: 'Ubuntu', sans-serif;
		text-decoration: none;
	
	}
	
	.form-header {
	
		font-weight: 500px;
		font-size: 36px;
		line-height: 24px;
		width: 264px
	}
	
	.inp-box {
		margin: .5rem 0;
	}
	
	.btn button {
		background: #C9472C;
		border-radius: 6px;
		color: #fff;
		font-size: 18px;
		font-style: bold;
	}
	
	.fourth {
		font-size: 12px;
		line-height: 24px;
		width: 150px;
		color: #C9472C;
		display: flex;
		justify-content: flex-end;
		align-self: flex-end;
	}

	@media screen and (max-width: 400px){

		.container{
			transform: none;
			overflow-x: hidden;
		}
	
	}