body {
    height: 100%;
}


.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    width: 50%;
    height: 50%;
    min-width: 700px;
  
    margin-top: 100px;
    

}

.form-style{
width: 50%;
border-radius: 10px;
border-color: orangered;
padding: 8px 20px;
}